<%- include('../partials/header') %>

<h1>New Piroshki</h1>

<form action="/piroshkis/<%=id%>/?_method=PUT" method="POST">
    <label>Piroshki Name</label>
    <input name="piroshkiName" value="<%= piroshki.name %>"><br>
    <br>
    <label>Piroshki Filling</label>
    <input name="piroshkiFilling" value="<%= piroshki.filling %>"><br>
    <br>
    <label>Piroshki Size</label>
    <input name="piroshkiSize" value="<%= piroshki.size %>"><br>
    <br>
    <input type="submit" value="Save Piroshki">
</form>

<%- include('../partials/footer') %>